{% extends 'base.html' %}

{% load static %}

{% block body_class %}about-page{% endblock %}

{% block title %}About - SizeMeApp{% endblock %}

{% block content %}
    <!-- Why SizeMeApp -->
    <section class="about-box text-center transparent-box">
        <i class="info-icon-secondary fa-solid fa-lightbulb icon-medium"></i>
        <h3 class="blue-text">Why SizeMeApp?</h3>
        <p>Shopping online is frustrating due to sizing issues. SizeMeApp give you accurate recommendations, reduce returns and improve the experience for both shoppers and brands.</p>
    </section>

    <!-- How it works! -->
    <section class=" about-box text-center transparent-box">
        <i class="info-icon-secondary fa-solid fa-gears icon-medium"></i>
        <h3 class="blue-text">How It Works!</h3>
        <ul>
            <li><strong>Measure</strong> – Take body measurements with our guide.</li>
            <li><strong>Upload</strong> – Enter or sync your data.</li>
            <li><strong>Find Your Fit</strong> – Get accurate size recommendations.</li>
        </ul>       
     </section>

      <!-- Start shopping -->
    <section class=" about-box text-center transparent-box">
        <i class="info-icon-secondary fa-solid fa-cart-shopping icon-medium"></i>
        <h3 class="blue-text">Start Shopping!</h3>
        <p>Save your measurements in SizeMeApp, browse brands, and get personalized size recommendations for a hassle-free shopping experience with fewer returns and better fits.</p> 
    </section>

    <!-- About Us -->
    <section class="about-box text-center transparent-box">
        <i class="info-icon-secondary fa-solid fa-address-card icon-medium"></i>
        </a>
        <h3 class="blue-text">About Us</h3>
        <p>SizeMeApp is dedicated to revolutionizing online shopping with precise size recommendations. Our team combines expertise in fashion, tech, and user experience to create seamless, accurate, and inclusive solutions. Click the icon to find out more.</p>
    </section>

    <!-- Social Media -->
<section class="text-center">
    <div class="social-icons">
        <a href="https://www.instagram.com/iknw.se/" target="_blank"
        aria-label="Visit our Instagram page (opens in a new tab)" rel="noopener"><i
          class="fa-brands fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/sara-sundin-b2833890/" target="_blank"
        aria-label="Visit our LinkedIn page (opens in a new tab)" rel="noopener"><i
          class="fa-brands fa-linkedin"></i></a>
      <a href="https://wa.me/46700630492" target="_blank" aria-label="Connect on Whatsapp (opens in a new tab)"
        rel="noopener"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
</section>

{% endblock %}
