{% load static %}

{% block extras %}
    <link rel="stylesheet" href="{% static 'css/style_avatar.css' %}">
{% endblock %}

{% block content %}

<!-- Avatar Generator-->

<div id="generator" class="flex-center grid-container">

    <!-- Color Picker -->

    <div id="custom-color-picker" class="hidden flex-center column-1">
      <p>Pick your colors!</p>

      <!-- Swatches -->
      <div id="color-swatches" class="swatches flex-center">
        <button class="swatch" style="background-color: rgb(97, 111, 130);" data-color="rgb(97, 111, 130)"></button>
        <button class="swatch" style="background-color: rgb(211, 215, 219);" data-color="rgb(211, 215, 219)"></button>
        <button class="swatch" style="background-color: rgb(135, 135, 135);" data-color="rgb(135, 135, 135)"></button>
        <button class="swatch" style="background-color: rgb(232, 78, 22);" data-color="rgb(232, 78, 22)"></button>
        <button class="swatch" style="background-color: rgb(115, 143, 166);" data-color="rgb(115, 143, 166)"></button>
      </div>
    </div>

    <!-- Download Button -->
    <div class="column-5">
      <button id="download-button" class="btn btn-primary">Save Avatar</button>
    </div>

    <!-- Avatar Canvas Container -->

    <!-- Canvas-->
    <div class="column-2">
      <div id="canvas-container" class="flex-center canvas-container">
        <canvas id="canvas-base" class="canvas"></canvas>
        <canvas id="canvas-head" class="canvas"></canvas>
        <canvas id="canvas-mouth" class="canvas"></canvas>
        <canvas id="canvas-ears" class="canvas"></canvas>
        <canvas id="canvas-rods" class="canvas"></canvas>
        <canvas id="canvas-eyes" class="canvas"></canvas>
      </div>
    </div>

    <!-- Buttons Canvas -->
    <div class="button-container flex-center column-3">
      <button id="reset-button" class="btn btn-dark">Reset</button>
      <button id="randomize-button" class="btn btn-dark">Randomize</button>
    </div>


    <!-- Thumbnails -->

    <!-- Main Thumbnails -->
    <div id="main-thumbnails" class="thumbnail-container flex-center column-4 visible">

      <!-- Background Thumbnail-->
      <div>
        <input type="radio" id="thumbnail-base" name="thumbnail" class="thumbnail-radio main-thumbnail"
          data-layer="base" data-src="{% static 'images/avatar_images/base.png' %}">
        <label for="thumbnail-base" class="thumbnail">
          <span>Base</span>
          <img src="{% static 'images/avatar_images/base.png' %}" alt="Base">
        </label>
      </div>

      <!-- Head Thumbnail -->
      <div>
        <input type="radio" id="thumbnail-head" name="thumbnail" class="thumbnail-radio main-thumbnail"
          data-layer="head" data-src="{% static 'images/avatar_images/head-1.png' %}">
        <label for="thumbnail-head" class="thumbnail">
          <span>Head</span>
          <img src="{% static 'images/avatar_images/head-1.png' %}" alt="Head">
        </label>
      </div>

      <!-- Eyes Thumbnail -->
      <div>
        <input type="radio" id="thumbnail-eyes" name="thumbnail" class="thumbnail-radio main-thumbnail"
          data-layer="eyes" data-src="{% static 'images/avatar_images/eyes-1.png' %}">
        <label for="thumbnail-eyes" class="thumbnail">
          <span>Eyes</span>
          <img class="thumbnail-zoom-md" src="{% static 'images/avatar_images/eyes-1.png' %}" alt="Eyes">
        </label>
      </div>

      <!-- Mouth Thumbnail -->
      <div>
        <input type="radio" id="thumbnail-mouth" name="thumbnail" class="thumbnail-radio main-thumbnail"
          data-layer="mouth" data-src="{% static 'images/avatar_images/mouth-1.png' %}">
        <label for="thumbnail-mouth" class="thumbnail">
          <span>Mouth</span>
          <img src="{% static 'images/avatar_images/mouth-1.png' %}" alt="Mouth">
        </label>
      </div>

      <!-- Ears Thumbnail -->
      <div>
        <input type="radio" id="thumbnail-ears" name="thumbnail" class="thumbnail-radio main-thumbnail"
          data-layer="ears" data-src="{% static 'images/avatar_images/ears-1.png' %}">
        <label for="thumbnail-ears" class="thumbnail">
          <span>Ears</span>
          <img class="thumbnail-zoom" src="{% static 'images/avatar_images/ears-1.png' %}" alt="Ears">
        </label>
      </div>

      <!-- Rods Thumbnail -->
      <div>
        <input type="radio" id="thumbnail-rods" name="thumbnail" class="thumbnail-radio main-thumbnail"
          data-layer="rods" data-src="{% static 'images/avatar_images/rods-1.png' %}">
        <label for="thumbnail-rods" class="thumbnail">
          <span>Rods</span>
          <img class="thumbnail-zoom" src="{% static 'images/avatar_images/rods-1.png' %}" alt="Rods">
        </label>
      </div>
    </div>


    <!-- Additional Thumbnails -->
    <div id="additional-thumbnails-container" class="column-4">

      <!-- Additional Thumbnail Head -->
      <div id="additional-thumbnails-head" class="additional-thumbnails hidden">
        <div>
          <button class="back-button btn btn-primary">Back</button>
        </div>
        <div class="thumbnails-row">
          <div class="thumbnail">
            <input type="radio" id="clear-thumbnail-head" name="thumbnail" class="thumbnail-radio clear-radio"
              data-layer="head">
            <label for="clear-thumbnail-head" class="clear-label">
              <img src="{% static 'images/avatar_images/clear-line.png' %}" alt="Clear Feature">
            </label>
          </div>
          <div class="thumbnail">
            <input type="radio" id="thumbnail-head-1" name="thumbnail" class="thumbnail-radio" data-layer="head"
              data-src="{% static 'images/avatar_images/head-1.png' %}">
            <label for="thumbnail-head-1">
              <img class="thumbnail-zoom-md" src="{% static 'images/avatar_images/head-1.png' %}"
                alt="Head One">
            </label>
          </div>
          <div class="thumbnail">
            <input type="radio" id="thumbnail-head-2" name="thumbnail" class="thumbnail-radio" data-layer="head"
              data-src="{% static 'images/avatar_images/head-2.png' %}">
            <label for="thumbnail-head-2">
              <img class="thumbnail-zoom-md" src="{% static 'images/avatar_images/head-2.png' %}"
                alt="Head Two">
            </label>
          </div>
          <div class="thumbnail">
            <input type="radio" id="thumbnail-head-3" name="thumbnail" class="thumbnail-radio" data-layer="head"
              data-src="{% static 'images/avatar_images/head-3.png' %}">
            <label for="thumbnail-head-3">
              <img class="thumbnail-zoom-md" src="{% static 'images/avatar_images/head-3.png' %}"
                alt="Head Three">
            </label>
          </div>
          <div class="thumbnail">
            <input type="radio" id="thumbnail-head-4" name="thumbnail" class="thumbnail-radio" data-layer="head"
              data-src="{% static 'images/avatar_images/head-4.png' %}">
            <label for="thumbnail-head-4">
              <img class="thumbnail-zoom-md" src="{% static 'images/avatar_images/head-4.png' %}"
                alt="Head Four">
            </label>
          </div>
          <div class="thumbnail">
            <input type="radio" id="thumbnail-head-5" name="thumbnail" class="thumbnail-radio" data-layer="head"
              data-src="{% static 'images/avatar_images/head-5.png' %}">
            <label for="thumbnail-head-5">
              <img class="thumbnail-zoom-md" src="{% static 'images/avatar_images/head-5.png' %}"
                alt="Head Five">
            </label>
          </div>
        </div>
      </div>

      <!-- Additional Thumbnail Eyes -->
      <div id="additional-thumbnails-eyes" class="additional-thumbnails hidden">
        <div>
          <button class="back-button btn btn-primary">Back</button>
        </div>
        <div class="thumbnails-row">
          <div class="thumbnail">
            <input type="radio" id="clear-thumbnail-eyes" name="thumbnail" class="thumbnail-radio clear-radio"
              data-layer="eyes">
            <label for="clear-thumbnail-eyes" class="clear-label">
              <img src="{% static 'images/avatar_images/clear-line.png' %}" alt="Clear Feature">
            </label>
          </div>
          <div class="thumbnail">
            <input type="radio" id="thumbnail-eyes-1" name="thumbnail" class="thumbnail-radio" data-layer="eyes"
              data-src="{% static 'images/avatar_images/eyes-1.png' %}">
            <label for="thumbnail-eyes-1">
              <img class="thumbnail-zoom" src="{% static 'images/avatar_images/eyes-1.png' %}"
                alt="Eyes One">
            </label>
          </div>
          <div class="thumbnail">
            <input type="radio" id="thumbnail-eyes-2" name="thumbnail" class="thumbnail-radio" data-layer="eyes"
              data-src="{% static 'images/avatar_images/eyes-2.png' %}">
            <label for="thumbnail-eyes-2">
              <img class="thumbnail-zoom" src="{% static 'images/avatar_images/eyes-2.png' %}"
                alt="Eyes Two">
            </label>
          </div>
          <div class="thumbnail">
            <input type="radio" id="thumbnail-eyes-3" name="thumbnail" class="thumbnail-radio" data-layer="eyes"
              data-src="{% static 'images/avatar_images/eyes-3.png' %}">
            <label for="thumbnail-eyes-3">
              <img class="thumbnail-zoom" src="{% static 'images/avatar_images/eyes-3.png' %}"
                alt="Eyes Three">
            </label>
          </div>
          <div class="thumbnail">
            <input type="radio" id="thumbnail-eyes-4" name="thumbnail" class="thumbnail-radio" data-layer="eyes"
              data-src="{% static 'images/avatar_images/eyes-4.png' %}">
            <label for="thumbnail-eyes-4">
              <img class="thumbnail-zoom" src="{% static 'images/avatar_images/eyes-4.png' %}"
                alt="Eyes Four">
            </label>
          </div>
          <div class="thumbnail">
            <input type="radio" id="thumbnail-eyes-5" name="thumbnail" class="thumbnail-radio" data-layer="eyes"
              data-src="{% static 'images/avatar_images/eyes-5.png' %}">
            <label for="thumbnail-eyes-5">
              <img class="thumbnail-zoom" src="{% static 'images/avatar_images/eyes-5.png' %}"
                alt="Eyes Five">
            </label>
          </div>
        </div>
      </div>

      <!-- Additional Thumbnail Mouth -->
      <div id="additional-thumbnails-mouth" class="additional-thumbnails hidden">
        <div>
          <button class="back-button btn btn-primary">Back</button>
        </div>
        <div class="thumbnails-row">
          <div class="thumbnail">
            <input type="radio" id="clear-thumbnail-mouth" name="thumbnail" class="thumbnail-radio clear-radio"
              data-layer="mouth">
            <label for="clear-thumbnail-mouth" class="clear-label">
              <img src="{% static 'images/avatar_images/clear-line.png' %}"alt="Clear Feature">
            </label>
          </div>
          <div class="thumbnail">
            <input type="radio" id="thumbnail-mouth-1" name="thumbnail" class="thumbnail-radio" data-layer="mouth"
              data-src="{% static 'images/avatar_images/mouth-1.png' %}">
            <label for="thumbnail-mouth-1">
              <img class="thumbnail-zoom" src="{% static 'images/avatar_images/mouth-1.png' %}"
                alt="Mouth One">
            </label>
          </div>
          <div class="thumbnail">
            <input type="radio" id="thumbnail-mouth-2" name="thumbnail" class="thumbnail-radio" data-layer="mouth"
              data-src="{% static 'images/avatar_images/mouth-2.png' %}">
            <label for="thumbnail-mouth-2">
              <img class="thumbnail-zoom" src="{% static 'images/avatar_images/mouth-2.png' %}"
                alt="Mouth Two">
            </label>
          </div>
          <div class="thumbnail">
            <input type="radio" id="thumbnail-mouth-3" name="thumbnail" class="thumbnail-radio" data-layer="mouth"
              data-src="{% static 'images/avatar_images/mouth-3.png' %}">
            <label for="thumbnail-mouth-3">
              <img class="thumbnail-zoom" src="{% static 'images/avatar_images/mouth-3.png' %}"
                alt="Mouth Three">
            </label>
          </div>
        </div>
      </div>

      <!-- Additional Thumbnail Ears -->
      <div id="additional-thumbnails-ears" class="additional-thumbnails hidden">
        <div>
          <button class="back-button btn btn-primary">Back</button>
        </div>
        <div class="thumbnails-row">
          <div class="thumbnail">
            <input type="radio" id="clear-thumbnail-ears" name="thumbnail" class="thumbnail-radio clear-radio"
              data-layer="ears">
            <label for="clear-thumbnail-ears" class="clear-label">
              <img src="{% static 'images/avatar_images/clear-line.png' %}" alt="Clear Feature">
            </label>
          </div>
          <div class="thumbnail">
            <input type="radio" id="thumbnail-ears-1" name="thumbnail" class="thumbnail-radio" data-layer="ears"
              data-src="{% static 'images/avatar_images/ears-1.png' %}">
            <label for="thumbnail-ears-1">
              <img class="thumbnail-zoom" src="{% static 'images/avatar_images/ears-1.png' %}"
                alt="Ears One">
            </label>
          </div>
          <div class="thumbnail">
            <input type="radio" id="thumbnail-ears-2" name="thumbnail" class="thumbnail-radio" data-layer="ears"
              data-src="{% static 'images/avatar_images/ears-2.png' %}">
            <label for="thumbnail-ears-2">
              <img class="thumbnail-zoom" src="{% static 'images/avatar_images/ears-2.png' %}"
                alt="Ears Two">
            </label>
          </div>
          <div class="thumbnail">
            <input type="radio" id="thumbnail-ears-3" name="thumbnail" class="thumbnail-radio" data-layer="ears"
              data-src="{% static 'images/avatar_images/ears-3.png' %}">
            <label for="thumbnail-ears-3">
              <img class="thumbnail-zoom" src="{% static 'images/avatar_images/ears-3.png' %}"
                alt="Ears Three">
            </label>
          </div>
        </div>
      </div>

      <!-- Additional Thumbnail Rods -->
      <div id="additional-thumbnails-rods" class="additional-thumbnails hidden">
        <div>
          <button class="back-button btn btn-primary">Back</button>
        </div>
        <div class="thumbnails-row">
          <div class="thumbnail">
            <input type="radio" id="clear-thumbnail-rods" name="thumbnail" class="thumbnail-radio clear-radio"
              data-layer="rods">
            <label for="clear-thumbnail-rods" class="clear-label">
              <img src="{% static 'images/avatar_images/clear-line.png' %}" alt="Clear Feature">
            </label>
          </div>
          <div class="thumbnail">
            <input type="radio" id="thumbnail-rods-1" name="thumbnail" class="thumbnail-radio"
              data-layer="rods" data-src="{% static 'images/avatar_images/rods-1.png' %}">
            <label for="thumbnail-rods-1">
              <img class="thumbnail-zoom" src="{% static 'images/avatar_images/rods-1.png' %}"
                alt="Rods One">
            </label>
          </div>
          <div class="thumbnail">
            <input type="radio" id="thumbnail-rods-2" name="thumbnail" class="thumbnail-radio"
              data-layer="rods" data-src="{% static 'images/avatar_images/rods-2.png' %}">
            <label for="thumbnail-rods-2">
              <img class="thumbnail-zoom" src="{% static 'images/avatar_images/rods-2.png' %}"
                alt="Rods Two">
            </label>
          </div>
          <div class="thumbnail">
            <input type="radio" id="thumbnail-rods-3" name="thumbnail" class="thumbnail-radio"
              data-layer="rods" data-src="{% static 'images/avatar_images/rods-3.png' %}">
            <label for="thumbnail-rods-3">
              <img class="thumbnail-zoom" src="{% static 'images/avatar_images/rods-3.png' %}"
                alt="Rods Three">
            </label>
          </div>
        </div>
      </div>
    </div>

{% block extra_js %}
<script src="{% static 'js/avatar.js' %}"></script>
{% endblock %}

{% endblock %}
